<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2009-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<resultMap type="UserAlias" id="UserResult">
		<id column="userId" jdbcType="INTEGER" property="userId" />
		<result column="userName" jdbcType="VARCHAR"
			property="userName" />
		<result column="phone" jdbcType="VARCHAR"
			property="phone" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<!-- <result column="departmentId" property="department.departmentId"/>
		<result column="departmentName" property="department.departmentName" /> -->
		
		<!-- 映射关联对象 -->
		<association property="department" javaType="com.yiban.bean.DepartmentBean">
			<id column="departmentId" property="departmentId"/>
			<result column="departmentName" property="departmentName"/>
		</association>
	</resultMap>

	<insert id="doCreate" parameterType="UserAlias"
		useGeneratedKeys="false">
		INSERT INTO user
		(
		userName,
		password,
		phone,
		departmentId
		)
		VALUES
		(
		#{userName, jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}
		#{department.departmentId, jdbcType=INTEGER}
		)
	</insert>

	<select id="doSelect" parameterType="int"
		resultMap="UserResult">
		SELECT userId,
			userName,
			phone,
			d.departmentId as departmentId,
			d.departmentName as departmentName 
		FROM
			user u join department d ON u.departmentId = d.departmentId  
		WHERE userId = #{userId,jdbcType=INTEGER}
	</select>
	
	<delete id="doDelete" parameterType="int">
		DELETE FROM user WHERE
		userId = #{userId:INTEGER}
	</delete>

</mapper>
